:root {
  --font-primary: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: #f5f5f5;
}

p, h1, h2, h3 {
  margin: 0;
}

*,
*::before,
*::after {
  font-family: inherit;
}