.details {
  display: flex;
  gap: 20px;
}

.image {
  width: 322px;
  height: 455px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsContainer {
  display: flex;
  gap: 30px;
}
.name {
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 60px;
}

.rating {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genres {
  color: #FFFFFF;
  opacity: 50%;
  font-size: 14px;
  font-weight: 500;
}

.year {
  color: #F65261;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.duration {
  color: #F65261;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.description {
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 50%;
}

